body {
    background-color:white ;
}

h1 {
    color:black;
    text-decoration-line: underline;
}

h2 {
    color: black;
    text-decoration-line: underline;  
}

h3 {
    color:black;
    
}

p {
    color:black;
}

ol {
    color:black;
}
#title {
    text-align: center;
}
#nav_bar {
    display: flex;
    
  border-radius: 30px;
  padding: 10px 20px;
  width: fit-content;
  justify-content: flex-start; 
  align-items: center;
  list-style-type: none;
  gap: 20px; 
  margin: 0; 
}


/* ANY SPECIFIC STUFF FOR DOCUMENTATION.HTML */

.github-btn:hover {
    background-color:grey;
}

.github-btn:active {
    background-color: black;
}

.github-btn {
    font-size:15px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/* ANY SPECIFIC STUFF FOR TEAM_MEMBERS.HTML */