body {
    background-color:white ;
}

h2 {
    color: black;
    text-decoration-line: underline;  
}

h3 {
    color:black;
    
}

p {
    color:black;
}

ol {
    color:black;
}