body {
    background-color:white ;
}

h2 {
    color: black;
    text-decoration-line: underline;  
}

h3 {
    color:black;
    
}

p {
    color:black;
}

ol {
    color:black;
}
#title {
    text-align: center;
}
#nav_bar {
    display: flex;
    
  border-radius: 30px;
  padding: 10px 20px;
  width: fit-content;
  justify-content: flex-start; 
  align-items: center;
  list-style-type: none;
  gap: 20px; 
  margin: 0; 
}


/* ANY SPECIFIC STUFF FOR DOCUMENTATION.HTML */




/* ANY SPECIFIC STUFF FOR TEAM_MEMBERS.HTML */